/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on :  June 04, 2024, 10:21:14 PM
    Author     : abenezer
*/

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}
.close{
        -fx-background-color: transparent;
        -fx-cursor:hand;
    }
.close:hover{
        -fx-background-color:#ee1906;
    }
.minimize{
        -fx-background-color:transparent;
        -fx-cursor:hand;
    }
.minimize:hover{
        -fx-background-color:#ddd;
    }
.nav-form{
        -fx-background-color:linear-gradient(to bottom right, #390707, #6f2525);
    }
.nav-btn{
        -fx-background-color:transparent;
        -fx-text-fill:#fff;
        -fx-font-size:14px;
        -fx-font-family:"Arial";
        -fx-cursor:hand;
        -fx-alignment:center-left;
    }
.MAINFORM{
        -fx-background-color:linear-gradient(to bottom right, #ffa000, #6f2525);
    }

.signIn-btn{
        -fx-background-color:#ffa000;
        -fx-background-radius:20px;
        -fx-cursor:hand;
    }
.signIn-btn:hover{
        -fx-background-color:#fff6b2;
    }
.shadow{
        -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.5), 6,0,0,0);
    }
.white-back{
        -fx-background-color:#fff;
        -fx-background-radius:8px;
    }
.main{
        -fx-background-color: linear-gradient(to bottom right, #bcc309, #d31de8);
    }
.textfeild{
        -fx-border-color:linear-gradient(to bottom, #efefef, #eee);
        -fx-background-radius:3px;
        -fx-border-color:linear-gradient(to bottom right, #26617c, #7398a8);
        -fx-border-radius:5px;
        -fx-border-width:3px;
        }
.textfeild:focused{
    -fx-background-color:#fff;
    -fx-border-width:1.5px;
    
      }
.add-btn{
        -fx-background-color:#06750f;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.add-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#6ef216, #06750f);
      }  
.clear-btn{
        -fx-background-color:#b58c19;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.clear-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#d0dd11, #b58c19);
      }  
.update-btn{
        -fx-background-color:#115aae;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.update-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#e8a2a2, #115aae);
      }
.delete-btn{
        -fx-background-color:#eb0202;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.delete-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#e8a2a2, #eb0202);
      }  
.AddAdmin-btn{
        -fx-background-color:#df2582;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.AddAdmin-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#7498c0, #df2582);
      }
.import-btn{
        -fx-background-color:linear-gradient(to top,#4addb1, #9e8914);
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.import-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#4addb1, #9e8914);
      }
.search{
          -fx-background-color:#fff;
          -fx-border-color:linear-gradient(to top right, #444750, #696d72);
          -fx-border-width:1px;
          -fx-font-size:13px;
          -fx-padding:0px 0px 0px 28px;
          -fx-border-radius:8px;
          
        }
.search:focused{
          -fx-border-width:2px;
      }
.table-view{
          -fx-background-color:transparent;
          -fx-border-color:linear-gradient(to bottom right, #d0dd15, #26617c);
          -fx-border-width:2px;
          -fx-border-radius:8px;
          -fx-padding:0px;
        }
.table-view .tabel-column{
          -fx-alignment: CENTER;
        }
.table-view .column-header-background{
          -fx-background-color:linear-gradient(to bottom right, #d0dd15, #26617c);
          -fx-border-radius:8px 8px 0px 0px;
          -fx-background-insets:0 0 0 0;
          
        }
.table-view .column-header, .filter{
          -fx-background-color:transparent;
          -fx-size:40px;
        }
.table-view .column-header, .label{
          -fx-text-fill:#000;
          -fx-font-family:"Arial";
        }