/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on :  June 04, 2024, 4:20:34 AM
    Author     : abenezer
*/

.close{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ee1906;
}
.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}
.Back-btn{
    -fx-background-color:#ff9e05;
    -fx-background-radius:20px;
    -fx-cursor:hand;
}
.Back-btn:hover{
    -fx-background-color:#fff6b2;
}
.textfeild{
-fx-border-color:#e56705;
-fx-background-radius:4px;
-fx-border-color:#e56705;
-fx-border-radius:4px;
-fx-border-width:4px;

}
.textfeild:focused{
-fx-background-color:#fff;
-fx-border-color:#e56705;
-fx-border-width:1.1px;
-fx-font-size:14px;
}
.search-btn{
    -fx-background-color:#fb1aff;
    -fx-background-radius:20px;
    -fx-cursor:hand;
}
.search-btn:hover{
    -fx-background-color:#fff6b2;
}
.retrive-btn{
    -fx-background-color:#e56705;
    -fx-background-radius:20px;
    -fx-cursor:hand;
}
.retrive-btn:hover{
    -fx-background-color:#eec445;
}

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}

.Main-FORM{
        -fx-background-color:black;
        -fx-text-fill:gold;
        -fx-font-size:14px;
        -fx-font-family:"Arial";
        
    }
.textfeildforgot{
        -fx-border-color:gold;
        -fx-background-radius:3px;
        -fx-border-color:gold;
        -fx-border-radius:5px;
        -fx-border-width:3px;
        }
.textfeildforgot:focused{
    -fx-background-color:#fff;
    -fx-border-width:1.5px;
    
      }
.forgot-btn{
        -fx-background-color:red;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.forgot-btn:hover{
          -fx-background-color:linear-gradient(to bottom,#e8a2a2, #115aae);
      }

.back{
        -fx-background-color:#ff9e05;
        -fx-background-radius:4px;
        -fx-cursor:hand;
        -fx-font-size:14px; 
        -fx-font-family:"Arial";
        -fx-text-fill:#fff;
      }
.back:hover{
          -fx-background-color:linear-gradient(to bottom,#7498c0, #df2582);
      }